<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pauljs.knock" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:name="com.activeandroid.app.Application"

        >
        <meta-data android:name="AA_DB_NAME" android:value="Pickrand.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />

        <!-- permission required to use Alarm Manager -->
        <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
        <!-- Permission to start Alarm on device reboot -->
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DataSheetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CombinedChartActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Register the Alarm Receiver -->
        <receiver android:name=".AlaramReceiver">
        </receiver>
        <service android:enabled="true" android:name=".AlarmService" />

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
